<form name="formulario" ng-submit="onSubmit()" novalidate>

<div class="errores" ng-show="formulario.$submitted">
  <p ng-show="formulario.nombre.$error.required">Ingresa el nombre</p>
  <p ng-show="formulario.apellido.$error.required">Ingresa el apellido</p>
  <p ng-show="formulario.correo.$error.email">Ingresa el email</p>
  <p ng-show="formulario.nrocta.$error.required">Ingresa el Nro. de cuenta</p>
  <p ng-show="formulario.moneda.$error.required">Ingresa el tipo de moneda</p>
  <p ng-show="formulario.monto.$error.required">Ingresa el monto</p>
</div>


  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" placeholder="nombre" name="nombre" ng-model="cuenta.firstname" required>
  </div>

  <div class="form-group">
    <label for="apellido">Apellido</label>
    <input type="text" class="form-control" id="apellido" placeholder="apellido" name="apellido" ng-model="cuenta.lastname" required>
  </div>

  <div class="form-group">
    <label for="correo">Correo</label>
    <input type="email" class="form-control" id="correo" placeholder="correo" name="correo" ng-model="cuenta.mail" >
  </div>

  <div class="form-group">
    <label for="nrocta">Nro. Cuenta</label>
    <input type="text" class="form-control" id="nrocta" placeholder="nrocta" name="nrocta" ng-model="cuenta.accountNumber" required>
  </div>  

  <div class="form-group">
    <label for="moneda">Moneda</label>
    <select name="" id="moneda" class="form-control" name="moneda" ng-options="item.denominacion as item.moneda for item in tipo_moneda" ng-model="cuenta.currency">
    	<option value="0">Seleccione.. </option>
    </select>
  </div>  

  <div class="form-group">
    <label for="monto">monto</label>
    <input type="number" class="form-control" id="monto" placeholder="monto" name="monto" ng-model="cuenta.amount" required>
  </div> 
 
  <button type="submit" class="btn btn-default">Crear</button>
</form>